body{
    background-color: yellow;
}
h1{
    color: red;
    text-align: center;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn:hover{
    color: green;
    background-color: black;
    /* width: 15px; */
}
#date{

 color:aqua;
}